html,body {	margin: 0;	padding: 0;}

header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  width: 100%;
}

nav {
  display: flex;
}

.logo {
  width: 100px;
  
}

.menu-ui {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  color: white;
}

.left-menu {
  background-color: black;
  border-style: none;
  color: white;
}

.right-menu {
  background-color: black;
  border-style: none;
  color: lightgray;
}