html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(18, 18, 18);
  color: #fff;
  min-height: 100vh;
}

header {
  width: 100%;
  background-color: black;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 12vw;
  height: auto;
  object-fit: contain;
  min-width: 80px;
  max-width: 120px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  flex-wrap: nowrap;
  max-width: 800px;
}

/* 프리미엄 메뉴 숨기기 */
#premium-menu {
  display: none;
  position: absolute;
  background-color: #222;
  padding: 10px;
  width: 200px;
  top: 40px;
  /* 버튼 밑으로 드롭다운 */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/* 프리미엄 버튼 호버 시 메뉴 드롭다운 */
.menu:hover #premium-menu {
  display: block;
  opacity: 1;
  transform: translateY(30%);
}

/* 드롭다운 메뉴 스타일 */
#premium-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#premium-menu li {
  padding: 8px;
}

#premium-menu li:last-child {
  border-bottom: none;
}

.plan-title {
  font-weight: bold;
}

.plan-detail {
  display: block;
  font-size: 12px;
  color: #bbb;
}

.menu-ui {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  flex-wrap: nowrap;
  overflow: hidden;
}

.menu-ui .menu button {
  height: max-content;
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.menu-ui .menu button:hover{
  color: #1ed760;
}

.header-toggle-btn {
  display: none;
}

main section {
  height: 600px;
}

.first {
  background-position: clamp(65%, calc(77.5% + 250px / 2 - max(15px,env(safe-area-inset-left)) * 2 - 10px), 900px), center top;
  background-image: url("./assets/background-purple.jpeg"),
    linear-gradient(180deg, rgb(125, 47, 149) 0%, rgb(18, 18, 18) 100%);
  background-repeat: no-repeat;
  background-size: 250px, 100% 170px;
  height: auto;
}

.first>div {
  height: auto;
  width: 70%;
  padding: 100px 20px 20px 20px;
  margin: auto;
}

.first>div>div {
  height: auto;
}

.headline {
  margin-bottom: 16px;
  width: 70%;
}

.fs-title {
  font-size: 2.5rem;
  line-height: 110%;
  color: #fff;
}

.fs-subtitle {
  margin: 15px 0;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.first-btn {
  display: flex;
  column-gap: 16px;
  margin-top: 35px;
  margin-bottom: 28px;
}

.first>div>div>div button {
  border-radius: 25px;
  height: 50px;
}

.start-btn>button {
  width: 110px;
  background-color: rgb(125, 47, 149);
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.fee-btn>button {
  width: 160px;
  background-color: black;
  color: #fff;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  font-size: 16px;
  font-weight: 700;
}

.first>div>div p {
  font-size: 12px;
  color: #fff;
  a {
    color: #fff;
  }
}

.ComponentWrapper {
  justify-items: center;
}

.ComponentWrapper>div {
  justify-items: center;
}

.second {
  background-color: rgb(18, 18, 18);
  align-content: center;
  height: auto;
  margin: 100px;
}

.second-content {
  justify-items: center;
  text-align: center;
}

.ComponentWrapper {
  width: 70%;
}

.second-title {
  width: 100%;
  margin-bottom: 24px;
}

.second-title>h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.second-title>h3 {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 1.5rem;
  font-weight: 400;
}

.TableWrapper {
  width: 60%;
  border-collapse: collapse;
}

.TableWrapper>thead>tr {
  height: 130px;
}

.TableWrapper>thead>tr>th {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(128, 128, 128);
  font-weight: 700;
  padding: 10px;
}

.TableWrapper>thead>tr>th>div {
  display: flex;
  text-align: left;
}

.table-head-benefit {
  vertical-align: bottom;
}

.fee {
  justify-items: center;
}

.fee>div>img {
  margin-right: 3px;
}

.third-th-logo {
  width: 15px;
  height: 15px;
}

tbody>tr {
  line-height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(128, 128, 128);
}

tbody :hover {
  background-color: rgb(28, 28, 28);

  .checked,
  .checked>div {
    background-color: rgb(44, 44, 44);
  }
}

tbody>tr>th {
  text-align: left;
  padding: 10px;
}

tbody>tr>td>div>svg {
  vertical-align: middle;
}

.benefits {
  color: rgb(179, 179, 179);
}

.benefits>span {
  border-bottom-style: dashed;
  border-bottom-width: 1.5px;
}

.third {
  background-color: rgb(18, 18, 18);
  margin: 100px;
  height: auto;

  div {
    text-align: center;
    justify-items: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
    }

    h3 {
      margin: 16px auto 32px auto;
      font-size: 15px;
      font-weight: 400;
    }
  }
  .other-way-toggle-span {
    margin: 8px 0 0 8px;
    text-decoration: underline;
  }
  .other-way-toggle-span:hover .payment-other-way {
    display: grid;
  }

  .payment-way {
    display: flex;
    justify-content: center;
    gap: 10px;

    li {
      list-style: none;
    }

    li>img {
      width: 50px;
      object-fit: contain;
    }
  }
  .payment-other-way {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    place-items: center;
    box-sizing: border-box;
    justify-content: center;
    width: 232px;
    padding: 8px 4px;
    margin: 10px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    list-style: none;
    background-color: #fff;
    border-radius: 8px;

    li {
      display: list-item;
      width: 50px;
      height: 43px;
      padding: 4px;
      line-height: 32px;
    }
    li>img {
      width: 40px;
    }
  }

  .third-section-benefits {
    list-style-image: url(./assets/check-solid.svg);
    margin: 16px 0;
  }

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    padding: 0 32px;
    gap: 40px;

    h3 {
      font-size: 32px;
      text-align: center;
    }
    > ul {
      padding-left: 40px;
    }

  }

}

.forth {
  background-color: rgb(18, 18, 18);
  justify-content: center;
  align-content: center;
  margin: 50px auto;
  height: auto;

  .plan-premium-title img {
    width: 20px;
  }
  #plan-premium-individual > h3 {
    color: rgb(255, 210, 215);
  }
  #individual-btn {
    background-color: rgb(255, 210, 215);
  }
  #plan-premium-duo > h3 {
    color: rgb(255, 200, 98);
  }
  #duo-btn {
    background-color: rgb(255, 200, 98);
  }
  #plan-premium-basic > h3 {
    color: rgb(207, 245, 106);
  }
  #basic-btn {
    background-color: rgb(207, 245, 106);
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0px 3%;
  }

  .container>div {
    background-color: rgb(42, 42, 42);
    border-radius: 10px;
    width: 400px;
    height: auto;
    padding-bottom: 30px;

    .individual-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 135px;
      height: 30px;
      background-color: rgb(255, 210, 215);
      border-radius: 10px 0 10px 0;
      font-weight: 700;
      color: #222;
    }

    .plan-premium-title {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 16px;
      padding: 0 15px;

      span {
        font-size: 16px;
      }
    }

    h3 {
      font-size: 32px;
      margin: 10px 0;
      padding: 0 15px;
    }

    .first-descript {
      margin: 20px 0;
    }

    hr {
      width: 90%;
      border: rgb(75, 75, 75) 1px solid;
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;
    }

    .plan-btn {
      text-align: center;
      button {
        width: 90%;
        border-radius: 20px;
        padding: 15px;
        font-size: 20px;
        font-weight: 700;
      }
    }

    .last-descript {
      padding-top: 20px;
      color: #bbb;
      text-align: center;
      font-size: 12px;

      a {
        text-decoration: underline;
      }
    }

    p {
      font-size: 16px;
      padding: 0 15px;
    }

  }

}

.fifth {
  justify-items: center;
  height: auto;
  padding: 70px 0;

  .fifth-txt {
    width: 100%;
  }

  .fifth-title {
    justify-items: center;
    text-align: center;
  }
  .fifth-title > h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .fifth-title > p {
    margin: 16px 0;
    font-size: 16px;
    color: rgb(192, 192, 192);

    a {
      color: rgb(192, 192, 192);
    }
  }

  li {
    list-style: none;
  }

  .question-hidden-div {
    display: none;
    background-color: rgb(29, 29, 29);
    padding: 30px 40px;
  }
  
}

.question-type {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 16px 20px;
  left: 0;
  top: 0;
  font-size: 18px;
  font-weight: 900;

  svg {
    transform: translateY(-50%);
  }
}

.question-item:hover {
  background-color: rgb(42, 42, 42);
  cursor: pointer;
  text-decoration: underline;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: black;

  .footer-nav {
    display: block;
    width: 100%;
  }

  .upper-footer {
    display: flex;
    justify-content: center;
    gap: 70px;
  }
  .footer-logo > img {
    width: 7vw;
  }
  .any-lists {
    display: flex;
    gap: 150px;
    > ul {
      list-style: none;
      > h3 {
        font-size: 12px;
        color: rgb(145, 148, 150);
      }
      > li {
        padding-top: 20px;
      }
      > li:hover{
        color: #1ed760;
        cursor: pointer;
      }
      
    }
  }
  .sns-links {
    padding-left: 30px;
    padding-right: 20px;
    > ul {
      display: flex;
      list-style: none;
      > li {
        justify-content: center;
        align-content: center;
        padding: 15px;
        margin-right: 25px;
        width: fit-content;
        background-color: rgb(34, 35, 38);
        border-radius: 50%;
      }
      > li:hover {
        cursor: pointer;
      }
    }
  }
  .bottom-footer {
    margin: auto;
    width: 90%;
    .global > a {
      margin-top: 20px;
      display: flex;
      justify-content: end;
      color: rgb(145, 148, 150);
      text-decoration: none;
      font-size: 12px;
    }
    .global > a:hover {
      color: #1ed760;
    }
    .info-first {
      margin-top: 20px;
      color: rgb(145, 148, 150);
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      > ul {
        display: flex;
        gap: 20px;
        list-style: none;
      }
      > ul > li > a {
        text-decoration: none;
        color: rgb(145, 148, 150);
      }
      > ul > li > a:hover {
        color: #1ed760;
      }

    }
    .info-last {
      margin-top: 20px;
      color: rgb(145, 148, 150);
      font-size: 12px;
      > span > a:hover {
        cursor: pointer;
      }
    }
  }
}

/* 모바일에 최적화된 예외 CSS 코드 */
@media screen and (max-width: 768px) {
  .menu-ui {
    display: none;
  }

  .header-toggle-btn {
    display: block;
  }

  .header-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .header-mobile-menu {
    display: none;
    justify-content: space-between;
    line-height: 50px;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 55%;
    height: 95%;
    background-color: black;
    z-index: 2;
    padding: 30px;
    

    > ul {
      list-style: none;
      .mobile-upper-menu {
        font-size: 36px;
        font-weight: 700;
      }
      #pointer:hover {
        cursor: pointer;
      }
      #green-pointer:hover {
        cursor: pointer;
        color: #1ed760;
      }
      .mobile-bottom-menu {
        color: rgb(217, 218, 220);
        font-size: 28px;
        font-weight: 400;
      }
    }
    > ul > li > ul > li {
      margin: 10px;
      list-style: none;
      font-size: 15px;
      background-color: #222;
      > a {
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        line-height: 25px;
        text-decoration: none;
        color: #fff;
        .mobile-plan {
          font-size: 16px;
          font-weight: 700;
        }
        .mobile-plan-descript {
          color: rgb(204, 204, 204);
          font-size: 13px;
          font-weight: 400;
        }
      }
      > a:hover {
        background-color: black;
      }
    }
  }

  .header-mobile-menu-logo img {
    width: 90px;
  }

  .header-overlay.active {
    display: block;
  }
  .header-mobile-menu.active {
    display: flex;
  }

  .first {
    > div {
      margin: 0;
      padding: 50px 20px;
    }
  }
  
  .second {
    margin: 0;
    .second-content {
      margin: 0 10px;
      padding: 75px 0;
    }
    .ComponentWrapper {
      margin: 0 32px;
      width: 100%;
    }
  }

  .third {
    margin: 0 9px;
    padding-top: 35px;
    padding-left: 24px;
    padding-right: 24px;
    > aside {
      margin: 48px 0;
      > h3 {
        font-size: 24px;
      }
      > ul {
        padding-left: 10px;
      }
    }
  }
  
  .forth {
    display: flex;
    justify-content: center;
    .container {
      flex-direction: column;

      > div {
        width: 450px;
      }
    }
  }

  .fifth {
    .fifth-txt {
      justify-items: center;
    }
    .question-type {
      margin: 0;
      width: 100%;
    }
  }
}